<div *ngIf="data">
    <div *ngIf="isImage" [ngClass]="isFullscreen ? 'fullscreen' : 'nofullscreen'">
        <img [src]="url" alt="" />
    </div>
    <div *ngIf="isPdf" class="fullscreen">
        <pdf-viewer
            [show-all]="false"
            [original-size]="true"
            [fit-to-page]="true"
            [autoresize]="true"
            [page]="page"
            [zoom]="zoom"
            [src]="{url, withCredentials: true}"
            style="display: block"
            (after-load-complete)="log('after-load-complete', $event)"
            (page-rendered)="log('page-rendered', $event)"
            (pages-initialized)="log('pages-initialized', $event)"
            (text-layer-rendered)="log('text-layer-rendered', $event)"
            (error)="log('error', $event)"
            (on-progress)="log('on-progress', $event)"
        ></pdf-viewer>
    </div>
</div>
